body {
  padding-top: 40px;
  background: #627ac4;
  text-align: center;
}

img {
  height:100%;
  width: 100%;
}

em {
  color: #130abd;
  font-weight: bold;
  font-size: 25px;
}

h2 {
  padding-bottom: 50px;
}

.content-container {
  padding-bottom: 300px;
}

/* ABOUT */

#profile {
  text-align: center;
}

/*#profile img {
  width: 300px;
}*/

#profile div {
  display: inline-block;
}

#profile-text {
  width: 70%;
  display: block;
  margin: auto;
}

#thought-right, #thought-left {
  display: none;
  vertical-align:bottom;
}

.profile-pic {
  margin: auto;
  padding-bottom: 15px;
  padding-top: 130px;
  opacity: .9;
}

#profile-pic1 {
  display: none;
}


/* PROJECTS */
.project-info {
  width: 30%;
  display:inline-block;
  vertical-align: top;
  padding-right: 75px;
}

.project-caraousel {
  width: 50%;
  height: auto;
  display:inline-block;
}



/* CONTACT */
.social img {
  width: 50px;
  display: inline-block;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
}

#email-icon {
  width: 70px;
  height: 70px;
  margin: -10px;
}

.social p {
  text-align: center;
}

#pdf {
  color: #130abd;
  font-size: 16px;
}